.text-wrap-balance{
    text-wrap: balance;
}

.line-height-7xl{
    line-height: 85px;
}

.line-height-2xl{
    line-height: 38px;
}

.text-wrap-pretty{
    text-wrap: pretty;
    margin: 0 auto 40px;
    max-width: 80%;
}

.hover-animation{
    transition: all .3s ease-out;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.hover-animation:hover{
    filter: drop-shadow(0 15px 40px rgba(13, 76, 255, .6));
    transform: scale(1.05);
}

.bg-gradient-hero:after{
  content: "";
  display: block;
  width: 50%;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: -80px;
  z-index: 0;
  background: linear-gradient(150deg, #2a60f9 8%, #fd8ee5 58%, #f2c94c 90%);
  filter: blur(200px);
  border-radius: 50%;
  animation: animations_fadeIn__pd9S3 1.5s linear 1s both;
  transform: translateZ(0);
  opacity: 0.9;
  right: 50%;
  left: 20%;
}

.features_gradient_custom{
    position: absolute;
    z-index: 0;
    width: 540px;
    height: 540px;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(20%, 15%);
    background: linear-gradient(153.77deg, #f2c94c 22.49%, #eb5757 41.98%, #fd8ee5 54.85%, #2a60f9 86.6%);
    opacity: .5;
    filter: blur(175px);
}

.font-fraunces {
  font-family: var(--font-fraunces), serif;
}

.aboutAi_spaceBall1__Lten1, .aboutAi_spaceBall2__XpBSo{
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    mix-blend-mode: hard-light;
}

.aboutAi_spaceBall1__Lten1{
    width: 950px;
    height: 950px;
    background: linear-gradient(318deg, #2a60f9 13%, #fd8ee5 85%);
    opacity: 0.8; 
    transform: translateX(-70%) translateY(-75%) translateZ(1px);
}

.aboutAi_spaceBall2__XpBSo{
    opacity: 0.8; 
    transform: translateX(-20%) translateY(-35%) translateZ(1px);
    width: 690px;
    height: 690px;
    background: linear-gradient(328deg, #2a60f9 13%, #fd8ee5 85%);
}

.aboutAi_divider__DiVsR {
    margin-top: 220px;
}

.features_gradient2__l1YAF {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(15%, -10%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(180deg, #43ff92 23.21%, #fd8ee5);
    opacity: .5;
    filter: blur(125px);
}
.img-impressive-work{
    transform: translateX(200px) translateY(-310px) rotate(12deg);
}

.features_gradient3__06lnB{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 630px;
    height: 630px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ff9c9c, #8994f2 38.83%, #fd8ee5 69.56%, #7ddfed);
    opacity: .2;
    filter: blur(125px);
}

.review-section-container-bg{
    background: linear-gradient(139.87deg, rgb(247, 237, 255), rgba(255, 248, 237, 0.5) 31.29%, rgba(250, 250, 250, 0) 58.26%);
}

.comparison_table td:not(td:first-child) {
    text-align: center;
}

table.comparison_table thead td:nth-child(2) {
    border-top: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-image: initial;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
}

.comparison_table thead td {
    padding: 0px;
    background: rgb(255, 255, 255) !important;
}

.comparison_table tr:nth-child(2n+1) td:last-child {
    border-radius: 0px 25px 25px 0px;
}

.comparison_table tr:nth-child(2n+1) td:first-child {
    border-radius: 25px 0px 0px 25px;
}
.comparison_table tr:nth-child(2n+1) td {
    background: rgb(245, 245, 245);
}
.comparison_table td {
    padding: 20px 40px;
    border: none;
}

.comparison_table tr:nth-child(2n+1) td {
    background: rgb(245, 245, 245);
}
.comparison_table td:nth-child(2) {
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
}

.comparison_table tbody tr:last-child td:nth-child(2)::after {
    content: "";
    display: block;
    width: calc(100% - 0px);
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    border-right: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-image: initial;
    border-top: none;
    border-radius: 0px 0px 25px 25px;
}

.comparison_table{
    position: relative;
}

.comparison_table tbody tr:last-child td:nth-child(2) {
    border-left: 0px solid #e0e0e0;
    border-right: 0px solid #e0e0e0;
}

.comparison_table thead tr:first-child td:nth-child(2){
    border: 0px;
}

.comparison_table thead tr:first-child td:nth-child(2)::after{
    content: "";
    display: block;
    width: calc(100% - 0px);
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 0;
    border-right: 1px solid rgb(224, 224, 224);
    border-top: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-image: initial;
    /* border-top: none; */
    border-radius: 25px 25px 0px 0px;
}